<!DOCTYPE html>
<!-- Formatted index page using ejs templating -->
<html lang="en">
  <% include header %>

  <body style="background-color: #eceff1;">
    <% include navbar %>

    <div role="main" class="container">
      <br /><br />

      <h2 class="container p-3 my-3 text-black">Employee Listing</h2>
      <br /><br />

      <div class="container">
        <% include list %>
      </div>
      <br /><br />

    </div>
    <% include footer %>
    <% include scripts %>
  </body>
</html>
