<!DOCTYPE html>
<!-- Formatted index page using ejs templating -->
<html lang="en">
  <% include header %>

  <body>
    <% include navbar %>

    <div role="main" class="container">
      <br /><br />

      <h1 class="text-center" style="margin-top:0">Welcome to the Employee Records Database</h1>
      <br /><br />


        <h2>Employees</h2>
      <br />
      <a class="" href="/new">New Employee</a>
      <br />




    <br />
    <div class="container">
      <% include list %>
    </div>

    <br />
    </div>
    <% include footer %>
    <% include scripts %>
  </body>
</html>
