<!-- Employee list to insert into index file -->
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Employee ID</th>
      <th>Department</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Abbot Jones</td>
      <td>5201</td>
      <td>Corporate Office</td>
    </tr>

    <tr>
      <td>Samantha Potts</td>
      <td>5202</td>
      <td>Marketing</td>
    </tr>

    <tr>
      <td>David Smith</td>
      <td>5203</td>
      <td>Sales</td>
    </tr>
  </tbody>
</table>
